@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #1D224E;
    background-image: url(./src/background.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    padding: 32px;
    height: 46px;
}

#header {
    margin: 0px 0px 32px;
    padding: 8px 32px;
    border: 1px solid white;
    border-radius: 30px;
}

a {
    text-decoration: none;
    color: white
}

div {
    color: white;
}

footer {
    color: #3E3C44;
}