@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #1D224E;
    background-image: url(./src/background.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    padding: 32px;
    height: 46px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white
}

#header {
    display: flex;
    justify-content: center;
    width: max-content;
    text-align: center;
    margin: 28px auto 32px auto;
    padding: 8px 32px;
    border: 1px solid white;
    border-radius: 30px;
}

#conteudo {
    font-weight: 800;
    font-size: 64px;
    text-align: center;
    margin: 0 0 32px;
}

span {
    color: #4169E1;
}

#texto {
    text-align: center;
    font-size: 19.1px;
    font-weight: 500;
}

#button {
    background-color: #7097EA;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    width: max-content;
    padding: 24px;
    margin: 32px auto 0 auto;
    cursor: pointer;
    transition: background 0.2s;
}

#button:hover{
    background-color: #4169E1;
}

button {
    font-size: 16px;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

div {
    color: white;
}

footer {
    bottom: 5px;
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #3E3C44;
}