@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #1D224E;
    background-image: url(./src/background.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    padding: 32px;
    height: 46px;
    align-items: center;
}

#header {
    display: flex;
    justify-content: center;
    width: max-content;
    text-align: center;
    margin: 28px auto 32px auto;
    padding: 8px 32px;
    border: 1px solid white;
    border-radius: 30px;
}

#conteudo {
    font-weight: 900;
    font-size: 32px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white
}

div {
    color: white;
}

span {
    color: #4169E1;
}

footer {
    color: #3E3C44;
}